*{
    padding:0;
    margin:0;
}
.main{
    width: 100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.timer{
    height:450px;
    width:450px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    justify-content: center;
    border:2px solid grey;
    border-radius: 50%;
    p{
        font-size: 80px;
    }
}

.btnContainer{
    display: flex;
    gap:20px;
    button{
        padding:10px 20px;
        border-radius:20px;
        border:0.5px solid black;
        outline:none;
    }
}

#setTime{
    border-radius:50%;
    border:0.5px solid grey;
    img{
        padding: 5px;
    }
}

.settings{
    display:flex;
    flex-direction: column;
    align-items: center;
    .timeDetails{
        margin-top: 10px;
        display:none;
        #timeVal{
            padding:8px 5px;
            outline:none;
            border:none;
            border-bottom:1px solid black;
        }
        button{
            padding:8px 5px;
        }
    }

}